* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}


ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

li {
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
  background-color: white;
}

li img {
  width: 100%;
}

.user-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.user-info {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.user-info h2 {
  font-size: 20px;
}

.user-image {
  width: 100%;
}

.user-image img {
  width: 100%;
}

.user-company {

}

.strong {
  font-weight: bold;
}

